# OS noise
*~
.DS_Store
*\#*

# Python noise
*.pyc

# C++ noise
*.d
*.so
*.pcm

# Build noise
libs/

# Commit noise
output_*
*.out

# Backup noise
*.bak

# ROOT files
*.root

# Useless .txt files
util/*.txt
Root/*.txt
HTopMultilepAnalysis/*.txt

# Directories w/ plots and/or NTuples
PlotUtils/PLOTS_*
PlotUtils/PlotVault
PlotUtils/MiniNTup